:root{
    --roxo: #9918f0;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: first baseline;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

header .menunav{
    margin-left: 100px;
}

/* menu mobile */
.dropbtn {
    background-color: #292b29;
    color: white;
    padding: 18px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    justify-content: right;
    margin-left: 30px;
  }

  .dropdown {
    position: relative;
    display: inline-block;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1b1b1b;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #757775;
  }
/* fim */

header .logo{
    margin-left: 15px;
    
    color: var(--roxo);
    font-family: 'Arial Black,' Times;
    font-size: 40px;
    font-weight: bold;

}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}
/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../img/capa-flash.jpg);
    background-size: 100%;
    height: 600px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 40px;
    font-size: 20px;
}

.titulo{
    margin-top: 15%;
    margin-left: 2%;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;

    cursor: pointer;
    transition: .3s ease all);
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 2px;
    padding-right: 10px;
}

.categoria1{
    justify-content: center;
    padding: 5px;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.categoria1:hover{

}

.box-filme:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.carrosel-filmes{
    margin-top: 5px;
}